html {
  box-sizing: border-box;
  font-family: Merriweather, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  background-color: #d05c2e;
  color: #fff;
  text-align: center;
  padding-top: .5rem;
}

img {
  width: 40px;
  margin: .3rem;
}

.left-grain {
  float: left;
}

.right-grain {
  float: right;
}

h1 {
  font-size: 2rem;
  display: inline-block;
  margin: .3rem 0;
}

ul {
  list-style-type: none;
  overflow: hidden;
  padding: 0;
  margin-top: .5rem;
}

li {
  font-size: 1.125rem;
}

a {
  text-decoration: none;
  color: #fff;
  padding: .5rem;
  float: left;
  width: 33.333%;
  border: 1.5px solid #a63f38;
}

a:hover {
  background-color: #a63f38;
}
